<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>books</key>
	<array>
		<dict>
			<key>autohr</key>
			<string></string>
			<key>bookTitle</key>
			<integer>1</integer>
			<key>coverImage</key>
			<string>image/cover_000.png</string>
			<key>layoutCells</key>
			<array>
				<dict>
					<key>cellType</key>
					<integer>1</integer>
					<key>description</key>
					<string>main</string>
					<key>elements</key>
					<array>
						<dict>
							<key>eleType </key>
							<string>imageBox</string>
							<key>value</key>
							<string>image/cover_000.png</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>center</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>fontSize</key>
								<integer>20</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>30</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string> 아프니까 청춘이다 </string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>김난도 (지은이) | 쌤앤파커스 | 2010-12-10
김난도 (지은이) | 쌤앤파커스 | 2010-12-10</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>판매가 : 12,600원 (10%off, 1,400원 할인)</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>반양장본 | 320쪽 | 214*152mm | ISBN(13) : 9788965700036</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cellType</key>
					<integer>2</integer>
					<key>description</key>
					<string>책소개</string>
					<key>elements</key>
					<array>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>20</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>책소개</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>네이버와 싸이월드에서 &apos;아무리 독한 슬럼프 속에서라도, 여전히 너는 너야&apos;라는 글 &apos;슬럼프&apos;로 수많은 청춘들의 가슴을 울린 서울대학교 김난도 교수가 여러 매체에 기고했던 글을 비롯한 총 42편의 글을 묶었다. 저자는 학생들과 교정에서 매일같이 부대끼며, 또 인터넷으로 청춘들과 쉼 없이 소통하며 그들만의 아픔을 헤아려 수많은 청춘들의 공감을 얻어왔다. \n\n저자는 이러저러한 스펙을 쌓으라는 취업의 방법론에 대해 이야기해 주지도 않고, 대책 없는 감상으로 &apos;어떻게 하다 보면 다 잘 될거야!&apos;하는 흔한 위로도 않는다. 때로는 영혼을 감싸안아주는 따뜻한 한 잔의 차처럼, 때로는 머리를 내리치는 따끔한 죽비처럼 한 편 한 편 청춘과 함께 호흡한다. </string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cellType</key>
					<integer>2</integer>
					<key>description</key>
					<string>목차</string>
					<key>elements</key>
					<array>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>20</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>목차</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>프롤로그 | 기억하라, 너는 눈부시게 아름답다</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>PART 1 그대 눈동자 속이 아니면 답은 어디에도 없다</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>인생시계 : 그대의 인생은 몇 시인가? | 그대의 열망을 따라가라 | 너라는 꽃이 피는 계절 | 네 눈동자 속이 아니면, 답은 어디에도 없다 | 때로 우연에 기댈 때도 있었다 | 그대 그리고 고시 : 안정에 성급히 삶을 걸지 마라 | 아직 재테크 시작하지 마라 | 걸음을 멈추고 돌아보라 | 부러워하지 않으면, 그게 지는 거다 | 슬럼프</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>PART 2 바닥은 생각보다 깊지 않다</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>시련은 나의 힘 | 바닥은 생각보다 깊지 않다 | 그 한 사람이 그대의 커다란 바다다 | 사랑 따윈 필요 없어 2.0 | 내 안의 혁명 : 프리다 칼로 이야기 | 내 인생의 오답노트 | 누구나 지금이 자기 인생에서 가장 늙은 때다 | 죽도록 힘든 네 오늘도, 누군가에게는 염원이다 | 치열한 꿈꾸기 | 이별, 그 후</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>PART 3 기적이란 천천히 이루어지는 것이다</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>작심삼일 당연하다, 삶의 방식이란 결심이 아니라 연습이니까 | 혼자 놀지 마라 | 그대의 선생을 찾아가라 | 비린 듯 산뜻한 잉크 냄새로 아침을 맞으라 | 글은 힘이 세다 | 네 이웃의 지식을 다양하게 탐하라 | 29,220피스의 퍼즐 | 너무 바빠서 시간이 없다는 핑계에 대하여 | ‘카르페 디엠’ 사용법 | 그대 생활의 라임은 무엇인가? | 기적이란 천천히 이루어지는 것이다 | 재수를 시작한 너에게</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>PART 4 ‘내일’이 이끄는 삶, ‘내 일’이 이끄는 삶</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>네가 내린 결정으로 삶을 인도하라 | ‘내일’이 이끄는 삶, ‘내 일’이 이끄는 삶 | 찌질이 ‘알파’들 | 대학은 그대에게 결승선인가, 출발선인가? | 스펙이 아닌, 그대만의 이야기를 만들어가라 | 20대, 돈보다 중요한 것 | 우리에게 대학이란 무엇인가? | 일단 기차에 올라타라 | 교정을 나서는 그대에게 | 인생의 정점을 생각하다</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>에필로그 | 사랑하는 나의 아들아</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cellType</key>
					<integer>2</integer>
					<key>description</key>
					<string>책소개 1</string>
					<key>elements</key>
					<array>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>20</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>20</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>“시작하는 모든 존재는 늘 아프고 불안하다. 
“시작하는 모든 존재는 늘 아프고 불안하다. \n 하지만 기억하라, 그대는 눈부시게 아름답다!” </string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>서울대학교 학생들이 뽑은 최고의 강의, 최고의 멘토! 네이버와 싸이월드에서 수많은 청춘의 마음을 울린 김난도 교수가 들려주는 영혼을 울리는 따뜻한 위로의 글, 머리를 내리치는 따끔한 죽비 같은 글! 인생 앞에 홀로서기를 시작하는 청춘이여, 《아프니까 청춘이다》와 함께 당신의 삶을 응원하라!</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cellType</key>
					<integer>2</integer>
					<key>description</key>
					<string>책소개 1</string>
					<key>elements</key>
					<array>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>20</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>한 치 앞을 내다볼 수 없는 미래에 대한 불안으로 힘들어하는  지금, 이 시대 청춘에게 
한 치 앞을 내다볼 수 없는 미래에 대한 불안으로 힘들어하는  지금, 이 시대 청춘에게 </string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>“청춘은 청춘에게 주기에는 너무 아깝다!” 영국의 극작가 조지 버나드 쇼는 이렇게 말했다고 한다. 10대들은 하루라도 빨리 되기를 열망하고, 기성세대들은 한번쯤 돌아가고 싶어 하는 황금의 시절. 
그러나 대한민국 청춘들이 맞닥뜨린 삶은 그렇게 화려하지만은 않다. 어른들은 “니들은 좋겠다, 무슨 걱정이 있겠냐.”고 하지만, 청춘이기에 감내해야 할 아픔은 결코 만만치 않다. 부단히 스펙을 쌓고 취업관문을 두드리고 사회에 적응하고 있지만, 미래는 여전히 한 치 앞을 내다볼 수 없다. 내가 잘하고 있는지, 이 길이 내 길이 맞는지 알 수 없는 불안에, 청춘들의 오늘은 여전히 버겁다. 
자신에 대한 성찰의 기회도, 세상을 탐험할 기회도 앗아가버리는 현실 때문에 자신의 무한한 가능성을 깨닫지 못하는 청춘들은 오늘도 불안과 나태를 오가며 황금 같은 시간을 흘려보내고 있다. 이런 청춘들을 더 힘들게 하는 것은 그들을 토닥이며 위로와 조언을 건네주고, 용기를 북돋아줄 멘토가 없다는 사실이다.</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>cellType</key>
					<integer>2</integer>
					<key>description</key>
					<string>책소개 1</string>
					<key>elements</key>
					<array>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>20</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>젊은 지성들과 가장 많이 공감하고 아파하는 교수</string>
						</dict>
						<dict>
							<key>attribute</key>
							<dict>
								<key>align</key>
								<string>left</string>
								<key>bold</key>
								<string>yes</string>
								<key>bottomMargin</key>
								<integer>14</integer>
								<key>eleType</key>
								<string>subTitle</string>
								<key>fontSize</key>
								<integer>14</integer>
								<key>textColor</key>
								<string>255,255,255</string>
								<key>topMargin</key>
								<integer>14</integer>
							</dict>
							<key>eleType</key>
							<string>textBox</string>
							<key>value</key>
							<string>이 책은 네이버와 싸이월드에서 ‘아무리 독한 슬럼프 속에서라도, 여전히 너는 너야’라는 글 〈슬럼프〉로 수많은 청춘들의 가슴을 울린 서울대학교 김난도 교수가 여러 매체에 기고했던 글을 비롯한 총 42편의 글을 묶은 것이다. 저자는 학생들과 교정에서 매일같이 부대끼며, 또 인터넷으로 청춘들과 쉼 없이 소통하며 그들만의 아픔을 헤아려 수많은 청춘들의 공감을 얻어왔다. 
그는 이러저러한 스펙을 쌓으라고 이야기해 주지도 않고, 대책 없는 감상으로 ‘어떻게 하다 보면 다 잘 될거야!’ 하는 흔한 위로도 않는다. 때로는 영혼을 감싸안아주는 따뜻한 한 잔의 차처럼, 때로는 머리를 내리치는 따끔한 죽비처럼 한 편 한 편 청춘과 함께 호흡한다. 이러한 그의 글은 단순한 위로를 넘어서 새롭게 시작할 수 있는 용기를 주는 힘이 있다. 인터넷 등 각종 매체에서 그의 글을 접한 독자들은 한결같이 “나를 돌아보고, 추스르고, 다시 시작하게 된다.”고 한다. 
자신의 삶도 ‘때로 우연에 기댈 때도 있었다’며 솔직히 고백하는가 하면, 아직 ‘너라는 꽃이 피는 계절’이 오지 않았음을 깨우쳐주며 용기를 북돋아준다....</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>price</key>
			<string></string>
			<key>sellPrice</key>
			<string></string>
		</dict>
		<dict>
			<key>functionArray</key>
			<array>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>491,450,50,35</string>
					<key>targetPage</key>
					<integer>68</integer>
					<key>vBounds</key>
					<string>654,599,66,46</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>544,269,50,35</string>
					<key>targetPage</key>
					<integer>32</integer>
					<key>vBounds</key>
					<string>725,358,66,46</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>544,452,50,35</string>
					<key>targetPage</key>
					<integer>40</integer>
					<key>vBounds</key>
					<string>725,602,66,46</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>544,636,50,35</string>
					<key>targetPage</key>
					<integer>48</integer>
					<key>vBounds</key>
					<string>725,847,66,46</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>544,819,50,35</string>
					<key>targetPage</key>
					<integer>50</integer>
					<key>vBounds</key>
					<string>725,1091,66,46</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>78,496,144,305</string>
					<key>targetPage</key>
					<integer>84</integer>
					<key>vBounds</key>
					<string>104,661,192,406</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>237,536,144,81</string>
					<key>targetPage</key>
					<integer>28</integer>
					<key>vBounds</key>
					<string>316,714,192,108</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>237,631,144,58</string>
					<key>targetPage</key>
					<integer>32</integer>
					<key>vBounds</key>
					<string>316,841,192,77</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>237,703,144,71</string>
					<key>targetPage</key>
					<integer>36</integer>
					<key>vBounds</key>
					<string>316,937,192,94</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>237,786,144,83</string>
					<key>targetPage</key>
					<integer>40</integer>
					<key>vBounds</key>
					<string>316,1048,192,110</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>390,579,144,75</string>
					<key>targetPage</key>
					<integer>44</integer>
					<key>vBounds</key>
					<string>520,771,191,100</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>390,665,144,70</string>
					<key>targetPage</key>
					<integer>48</integer>
					<key>vBounds</key>
					<string>520,886,191,93</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>390,749,144,60</string>
					<key>targetPage</key>
					<integer>50</integer>
					<key>vBounds</key>
					<string>520,998,191,79</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>390,822,144,70</string>
					<key>targetPage</key>
					<integer>104</integer>
					<key>vBounds</key>
					<string>520,1095,191,93</string>
				</dict>
			</array>
			<key>innerPage</key>
			<integer>2</integer>
			<key>pdfName</key>
			<string>mbceco-201108-002</string>
		</dict>
		<dict>
			<key>functionArray</key>
			<array>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>79,147,50,34</string>
					<key>targetPage</key>
					<integer>78</integer>
					<key>vBounds</key>
					<string>105,196,66,45</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>270,147,50,34</string>
					<key>targetPage</key>
					<integer>82</integer>
					<key>vBounds</key>
					<string>359,196,66,45</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>459,167,193,78</string>
					<key>targetPage</key>
					<integer>8</integer>
					<key>vBounds</key>
					<string>611,222,257,103</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>460,252,50,34</string>
					<key>targetPage</key>
					<integer>17</integer>
					<key>vBounds</key>
					<string>613,335,66,45</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>370,419,50,34</string>
					<key>targetPage</key>
					<integer>100</integer>
					<key>vBounds</key>
					<string>493,558,66,45</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>76,454,138,73</string>
					<key>targetPage</key>
					<integer>17</integer>
					<key>vBounds</key>
					<string>101,605,184,97</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>76,539,138,82</string>
					<key>targetPage</key>
					<integer>52</integer>
					<key>vBounds</key>
					<string>101,718,184,109</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>76,634,138,60</string>
					<key>targetPage</key>
					<integer>76</integer>
					<key>vBounds</key>
					<string>101,845,184,79</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>76,705,138,82</string>
					<key>targetPage</key>
					<integer>78</integer>
					<key>vBounds</key>
					<string>101,940,184,109</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>76,801,138,69</string>
					<key>targetPage</key>
					<integer>80</integer>
					<key>vBounds</key>
					<string>101,1067,184,92</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>221,489,138,69</string>
					<key>targetPage</key>
					<integer>82</integer>
					<key>vBounds</key>
					<string>294,651,184,92</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>221,573,138,59</string>
					<key>targetPage</key>
					<integer>94</integer>
					<key>vBounds</key>
					<string>294,763,184,78</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>221,645,138,81</string>
					<key>targetPage</key>
					<integer>96</integer>
					<key>vBounds</key>
					<string>294,859,184,108</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>221,740,138,59</string>
					<key>targetPage</key>
					<integer>98</integer>
					<key>vBounds</key>
					<string>294,986,184,78</string>
				</dict>
				<dict>
					<key>functionType</key>
					<integer>1</integer>
					<key>hBounds</key>
					<string>221,811,138,59</string>
					<key>targetPage</key>
					<integer>100</integer>
					<key>vBounds</key>
					<string>294,1081,184,78</string>
				</dict>
			</array>
			<key>innerPage</key>
			<integer>3</integer>
			<key>pdfName</key>
			<string>mbceco-201108-003</string>
		</dict>
	</array>
	<key>guid</key>
	<string>aa123456</string>
	<key>lastBuildDate</key>
	<string>Sat, 07 Sep 2002 00:00:01 GMT</string>
	<key>pubDate</key>
	<string>Sat, 07 Sep 2002 00:00:01 GMT</string>
	<key>title</key>
	<string>북매거진 8월호</string>
</dict>
</plist>
